<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <a href="/articles"><button>Back</button></a>
  <body>
    <div class="article-details">
      <article>
        <h2>TITLE :</h2>
        <%= article.title%>
      </article>
      <article>
        <h2>DESCRIPTION :</h2>
        <%= article.description%>
      </article>
      <article>
        <h2>TAGS :</h2>
        <% article.tags.forEach((tag, id)=>{%>
        <div class="tag">
          <cite><%= tag%></cite>
        </div>
        <% })%>
      </article>
      <article>
        <h2>AUTHOR :</h2>
        <%= article.author%>
      </article>
      <article>
        <h2>LIKES :</h2>
        <%= article.likes%>
      </article>
      <a href="/articles/<%= article._id%>/like/+"><button>😍</button></a>
      <a href="/articles/<%= article._id%>/like/-"><button>💔</button></a>
      <a href="/articles/<%= article._id%>/edit"><button>EDIT</button></a>
      <a href="/articles/<%= article._id%>/delete"><button>DELETE</button></a>
    </div>
  </body>
</html>
